<div id="clients-modal<%=index%>" class="modal center" style="width: 40%;">
    <div class="header">
        <div class="title">
            <h4 class="title-text">
                Attendees for <%=job.class_name%>
            </h4>
        </div>
        <div class="close-div">
            <a href="#!" class="modal-action modal-close waves-effect lighten-1">
                <img src="../../images/X.png" style="width: 14px;">
            </a>
        </div>
    </div>
    <table id="modal-table" class="main-table">
        <tr>
            <td class="td-clock-img">
                <img src="../../images/clock.png" style="width: 21px;">
            </td>
            <td class="td-time">
                <%=job.scheduled_time%>
            </td>
        </tr>
        <tr>
            <td class="td-attendee-img">
                <img src="../../images/People_Icon.png" style="width: 22px;">
            </td>
            <td class="td-attendees">
                <%=job.clients.length%> Attendees
            </td>
        </tr>
        <%job.clients.map((client, ind) => {%>
        <tr>
            <td class="td-number">
                <%=ind + 1%>.
            </td>
            <td class="td-attendee-content">
                <table style="border-collapse: initial;">
                    <tr>
                        <td class="td-attendee-info">
                            <%=client.first_name%> <%=client.last_name%></br>
                            <%=client.email%>
                        </td>
                        <% if(client.is_recipient == true){ %>
                        <td class="td-notif-image">
                            <img src="../../images/Notification.png" style="width: 14px; text-align: right;">
                        </td>
                        <% } else{ %>  
                        <td class="td-no-notif-image">
                            <img src="../../images/No_Notification.png" style="width: 14px; text-align: right;">
                        </td>
                        <% } %>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <%})%>
    </table>
</div>