<div id="notif-modal<%=index%>" class="modal notif-modal">
    <div class="modal-header">
        <p>Edit Notification</p>
        <a href="#" class="modal-close">
            <img class="center" src="/images/notifModal/close.svg" alt="Close"> 
        </a>
    </div>
    <div id="content" class="modal-content">
        <form class="col s12" action="/jobs/<%=job.id%>" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="class_name" placeholder="Class Name" value="<%=job.class_name%>">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="instructor_first_name" placeholder="Instructor's First Name" value="<%=job.instructor_first_name%>">
                </div>
                <div class="input-field col s6">
                    <input type="text" name="instructor_last_name" placeholder="Instructor's Last Name" value="<%=job.instructor_last_name%>">
                </div>
            </div>
            <div class="row">
                <div class="col s1">
                    <img class="center" src="/images/notifModal/access_time.svg" alt="Clock">
                </div>
                <div class="input-field col s6">
                    <input type="datetime-local" name="scheduled-time" value="<%=job.scheduled_time.split(',')[0] + 'T' + job.scheduled_time.split(' ')[1]%>">
                </div>
                <div class="col s1">
                    <img class="vert-center" src="/images/notifModal/people.svg" alt="People">
                </div>
                <div class="input-field col s4">
                    <a class="modal-trigger" href="#clients-modal<%=index%>">View a full email list</a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" href="#" id="cancel-btn" class="modal-close waves-effect waves-light btn-flat">Cancel</button>
                <button type="submit" href="#" id="submit-btn" class="modal-close waves-effect waves-green btn-flat">Submit</button>
            </div>
        </form>
    </div>
</div>