<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-WOdSzz11/3cpqOdrm89LBL2UPwEU9EhbDtMy2OciEhs='">
        <script src="javascripts/jquery/jquery.min.js"></script>
        <script src="javascripts/datatable/datatable.min.js"></script>
        <script src="javascripts/uiheader.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="javascripts/materializejs/materialize.min.js"></script>
        <link href="stylesheet/datatable/datatable.min.css" rel="stylesheet">
        <link href="stylesheet/dashboard.css" rel="stylesheet" type="text/css">
        <link href="stylesheet/deleteModal.css" rel="stylesheet">
        <link href="stylesheet/clientsModal.css" rel="stylesheet">
        <link href="stylesheet/notifModal.css" rel="stylesheet">

        <style>
 
                [type="radio"]:checked + span:after,
                 
                [type="radio"].with-gap:checked + span:before,
                 
                [type="radio"].with-gap:checked + span:after {
                 
                  border: 2px solid black;
                 
                }
                 
                 
                 
                [type="radio"]:checked + span:after,
                 
                [type="radio"].with-gap:checked + span:after {
                 
                  background-color: black;
                 
                }
                 
                </style>
    </head>
    <body>
        <header>
            <%- include('../components/banner.ejs') %>
        </header>
        <main>
            <div class="row table-box">
                <%- include('../components/headers.ejs') %>
                <div class="col s10 push-s1">
                    <div class="row">
                        <table id="datatable" class="cell-border mdl-data-table">
                            <thead class="table-header">
                                <tr>
                                    <th>Class Name</th>
                                    <th>Instructor</th>
                                    <th>Time</th>
                                    <th>Members</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                            <%jobs.map((job, index) => {%>
                            <tr class="table-body-row">
                                <td>
                                    <div class="col s2">
                                        <a href="#notif-modal" class="modal-trigger">
                                            <img src="/images/userInterface/editPen.svg">
                                        </a>
                                    </div>
                                    <div class="col s10"><%=job.class_name%></div>
                                </td>
                                <td><%=job.instructor_first_name%> <%=job.instructor_last_name%></td>
                                <td><%=job.scheduled_time%></td>
                                <td><a class="modal-trigger" href="#clients-modal<%=index%>">View email list</a></td>
                                <td>
                                    <div class="col s10">N/A</div>
                                    <div class="col s2">
                                        <a href="#delete-modal" class = "modal-trigger">
                                            
                                                <img src="/images/userInterface/trashCan.svg">
                                        </a>
                                        
                                    </div>
                                </td>
                            </tr>
                            <%- include('../../../components/models/deleteModal.ejs', {job}) %>
                            <%- include('../components/modals/notifModal.ejs', {job}) %>
                            <%})%>
                            </tbody>
                        </table>
                        <%jobs.map((job, index) => {%>
                            <%- include('../components/modals/clients.ejs', {job, index}) %>
                        <%})%>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
